@media (min-width: 992px) and (max-width: 1199px) {
  #banner .banner_slider .banner_cnt h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #1d1d1d;
    transition-delay: 0.4s;
  }

  #banner .slick-dots {
    position: absolute;
    bottom: 15%;
    left: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #banner .banner_slider {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  #banner .banner_slider .row {
    height: 500px;
  }
  #banner .banner_slider .banner_cnt h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .button {
    padding: 15px 20px;
    font-size: 16px;
  }
  #banner .slick-dots {
    left: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {

  #banner .banner_slider {
    height: 300px;
  }
  #banner .banner_slider .row {
    height: 300px;
  }
  #banner .banner_cnt {
    width: 100%;
  }
  #banner .banner_slider .banner_cnt h1 {
    font-size: 30px;
    line-height: 30px;
  }
  #banner .banner_slider .button {
 
  }

  #banner .banner_slider .banner_cnt p 
  {
  
    text-align: justify;
  }
  #banner .slick-dots {
    bottom: 0;
  }
  #banner .slick-dots button {
    transform: scale(0.5);
  }

  #flash_sale h1 {
    font-size: 25px;

}
.wrapper_slider .wrapper_container .wrapper_card p {

  text-align: justify;
}
.wrapper_slider .wrapper_container .wrapper_card a {
 margin-bottom: 40px;
}
#special_offer .product_info .offer_cnt h1 {
  
  font-size: 18px;
  line-height: 33px;
 
}
#special_offer .product_info .offer_cnt p {

  text-align: justify;
}
.news_card .news_info .date {
  
   padding-left: 0;
}
  footer .social_link ul {
    text-align: center;
  }
  footer .logo {
    margin: 30px 0;
  }
  footer .card img {
    margin: auto;
  }
  .wrapper_card {
    padding: 10px;
}
  #flash_sale h1 {
    font-size: 25px;

    text-align: left;
  }
  footer .lastone .heading {

     padding-bottom: 6px; 
}
#last_item .last p {

  line-height: 22px;
  
}
  #banner_two .banner_cnt {
    width: 100%;
    margin: 0;
    
}
}
